<div class="booking-card w3-card w3-padding w3-margin-bottom w3-white">
    <b>{{ booking.name }}</b> – {{ booking.room }}, {{ booking.guests }} Pers. ({{ booking.age_group }}) <a
        href="/edit/{{ booking.id }}" class="w3-button w3-blue w3-small w3-margin-top"
        style="float: right;">Bearbeiten</a><br>
    {{ booking.arrival }} bis {{ booking.departure }}
    <button class="toggle-details-btn" onclick="toggleDetails('{{ booking.id }}')">Details anzeigen</button>
    <br>
    <div class="details" id="details-{{ booking.id }}" style="display: none;">
        HP: {{ booking.hp }} (Fleisch: {{ booking.hp_fleisch }}, Vegi: {{ booking.hp_vegi }})<br>
        E-Mail: {{ booking.email or '–' }}, Telefon: {{ booking.phone or '–' }}<br>
        <b>Status:</b>
        {{ booking.status or 'Option' }}

        <br>
        <b>Preis: CHF {{ '%.2f' % booking.total_price }}</b>
        {% if booking.payment_status %}
            <span style="color: green; font-weight: bold;"> -- Bezahlt</span>
        {% endif %}<br>
    </div>

</div>

<script>
    function toggleDetails(bookingId) {
        var details = document.getElementById('details-' + bookingId);  // Greifen auf das spezifische Detail zu
        var button = event.target;  // Zugriff auf den Button, der gedrückt wurde

        // Toggle der Anzeige der Details
        if (details.style.display === 'none') {
            details.style.display = 'block';
            button.innerHTML = 'Details verbergen';
        } else {
            details.style.display = 'none';
            button.innerHTML = 'Details anzeigen';
        }
    }
</script>