<div class="booking-card w3-card w3-padding w3-margin-bottom w3-white">
    <b>{{ booking.name }}</b> – {{ booking.room }}, {{ booking.guests }} Pers. ({{ booking.age_group }})<br>
    {{ booking.arrival }} bis {{ booking.departure }}<br>
    HP: {{ booking.hp }} (Fleisch: {{ booking.hp_fleisch }}, Vegi: {{ booking.hp_vegi }})<br>
    E-Mail: {{ booking.email or '–' }}, Telefon: {{ booking.phone or '–' }}<br>
    <b>Status:</b>
    {{ booking.status or 'Option' }}

    <br>
    <b>Preis: CHF {{ '%.2f' % booking.total_price }}</b>
    {% if booking.payment_status %}
        <span style="color: green; font-weight: bold;"> -- Bezahlt</span>
    {% endif %}<br>
    <a href="/edit/{{ booking.id }}" class="w3-button w3-blue w3-small w3-margin-top">Bearbeiten</a>
</div>