{% extends "base.html" %}
{% block title %}Neue Reservation{% endblock %}

{% block content %}
    <h2>Neue Reservation</h2>

    <form method="POST" class="w3-container w3-card-4 w3-light-grey w3-padding">

        <!-- Formular im Flexbox-Layout mit Abstand zwischen den Spalten -->
        <div class="w3-row">
            <!-- Linke Spalte -->
            <div class="w3-half w3-padding-right">
                <label for="name">Name</label>
                <input class="w3-input w3-margin-bottom" type="text" name="name" required>

                <label for="birthdate">Geburtsdatum (Hauptgast)</label>
                <input class="w3-input w3-margin-bottom" type="date" name="birthdate" required>

                <label for="email">E-Mail</label>
                <input class="w3-input w3-margin-bottom" type="email" name="email">

                <label for="phone">Telefon</label>
                <input class="w3-input w3-margin-bottom" type="tel" name="phone">

                <!-- Adressfelder -->
                <label for="address">Adresse</label>
                <input class="w3-input w3-margin-bottom" type="text" name="address" required>

                <label for="postal_code">PLZ</label>
                <input class="w3-input w3-margin-bottom" type="text" name="postal_code" required>

                <label for="city">Stadt</label>
                <input class="w3-input w3-margin-bottom" type="text" name="city" required>

                <label for="country">Land</label>
                <input class="w3-input w3-margin-bottom" type="text" name="country" required>

                <label for="arrival">Anreise</label>
                <input class="w3-input w3-margin-bottom" type="date" name="arrival" required>

                <label for="departure">Abreise</label>
                <input class="w3-input w3-margin-bottom" type="date" name="departure" required>
            </div>

            <!-- Rechte Spalte -->
            <div class="w3-half w3-padding-left w3-margin-left">

                <label for="room">Zimmer</label>
                <select class="w3-select w3-margin-bottom" name="room" required>

                    {% for room in rooms %}
                        <option value="{{ room }}">{{ room }}</option>
                    {% endfor %}

                </select>

                <br>

                <label for="guests">Anzahl Gäste</label>
                <input class="w3-input w3-margin-bottom" type="number" name="guests" required min="1">

                <!-- Dynamische Felder für Mitreisende -->
                <div id="guest-details">
                    <!-- Hier können dynamische Felder für Mitreisende hinzugefügt werden -->
                </div>

                <button type="button" id="add-guest" class="w3-button w3-blue w3-margin-top">+ Mitreisenden
                    hinzufügen
                </button>

                <br><br>

                <label for="hp">HP (Halbpension)</label>
                <input class="w3-check" type="checkbox" name="hp">

                <br>

                <label for="hp_fleisch">Fleisch</label>
                <input class="w3-input w3-margin-bottom" type="number" name="hp_fleisch" min="0">

                <label for="hp_vegi">Vegi</label>
                <input class="w3-input w3-margin-bottom" type="number" name="hp_vegi" min="0">

                <label for="status">Status</label>
                <select class="w3-select w3-margin-bottom" name="status">
                    <option value="Option">Option</option>
                    <option value="Bestätigt">Bestätigt</option>
                    <option value="Checked In">Checked In</option>
                    <option value="Storniert">Storniert</option>
                </select>

                <br>

                <label for="note">Notiz</label>
                <textarea class="w3-input w3-margin-bottom" name="note"></textarea>

                <div class="w3-text-red w3-margin-top">
                    <strong>Preisvorschau: CHF <span id="price-preview">0.00</span></strong>
                </div>

                <button class="w3-button w3-blue w3-margin-top" type="submit">Speichern</button>
            </div>
        </div>
    </form>

    <!-- <script src="/static/countryDropdown.js"></script> -->
    <script src="static/js/main.js"></script>
    <script src="static/js/dinnerOptions.js" defer></script>

{% endblock %}